{% extends 'tour/tour_base.html' %}

{% block breadcrumb_content %}
    <li class="active">{% link_for _("Tour list"), request.endpoint %}</li>
{% endblock breadcrumb_content %}

{% block page_content %}
    <h1 class="mb-3">{{ _("Tours") }}</h1>

    {% snippet "tables/render_table.html", table=table %}
{% endblock page_content %}

{% block scripts %}
    {{ super() }}

    {% asset "tables/tables-js" %}
{% endblock %}

{% block styles %}
    {{ super() }}
    {% asset "tables/tables-css" %}
{% endblock %}
